{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{super()}}
    Bienvenido
{% endblock %}

{% block content %}
<!--    {% if user_ip %}-->
<!--        <h1> Hello World Platzi {{user_ip}}</h1>-->
<!--    {% else %}-->
<!--        <a href="{{url_for('index')}}">Ir a Inicio</a>-->
<!--    {% endif %}-->

    <ul>
        {% for todo in todos %}
            {{ macros.render_todo(todo)}}
        {% endfor %}
    </ul>
{% endblock %}
